.upload-title,
.upload-tags,
.upload-image,
.upload-button {
  margin-top: 25px;
}

.upload-title input {
  border: 1px solid #42474c;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background: white;
  color: #212326;
  font-size: 16px;
  outline-color: #004c3f;
}

.upload-tags {
  border: 1px solid #42474c;
  padding: 5px 10px;
  border-radius: 5px;
  background: white;
  outline-color: #004c3f;
  display: flex;
}

.upload-tags input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 16px;
  padding: 4px 0 0 0;
}

#tags {
  display: flex;
  margin: 8px 0 0 0;
}

.tag {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #004c3f;
}

.tag-title {
  color: #fff;
}

.fa-times-circle {
  color: white;
  padding-left: 5px;
}

.upload-image {
  padding: 10px;
  border: 1px solid #42474c;
  border-radius: 5px;
}

.upload-button button {
  width: auto;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
  font-size: 16px;
}
